/**
 *  Main CSS 
 *  @author : Ramakrishnan Sathyavageeswaran
 */
html{
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 170px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 170px;
    background: #03a9f4;
    z-index: 99999;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    /*background: url("../images/foot-bg.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 8px 17px;*/
}
.uc-logo{
    width: 100px;
}
nav{
    box-shadow: rgba(0, 0, 0, 0.117647) -1px 2px 6px, rgba(0, 0, 0, 0.117647) -1px 3px 4px;
}
.navbar a {
    line-height: 50px;
}
.bg-faded{
    background: #fff;
}
.col-xs-12 .center_div{
    margin: 0 auto;
    width:40% /* value of your choice which suits your alignment */
}

.col-sm-12 .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.col-md-12 .center_div{
    margin: 0 auto;
    width:50% /* value of your choice which suits your alignment */
}
.col-lg-12 .center_div{
    margin: 0 auto;
    width:40% /* value of your choice which suits your alignment */
}

.form .input-group{
    margin-bottom: 15px;
}
.form input{
    border-radius: 0px;
}
.col-xs-12 .display-4 {
    font-size: 1.5rem;
    font-weight: 300;
}
.form .input-group-addon{
    min-width: 45px;
    border-radius: 0px;
}
footer {
    color: #ffffff;
}
footer .fa{
    color: #F44336;
}
.footer-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    transform: translate(-50%,-50%);
}